<div class="animated fadeIn">

  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <strong>Filtros</strong>
        </div>
        <div class="card-body">
          <div class="row">


            <div class="form-group col-md-6">
              <label class="form-control-label">Moneda</label>
              <p-dropdown autoWidth="false" [style]="{'width':'100%'}" [options]="listaFxs" [(ngModel)]="codigoFiltro"></p-dropdown>
            </div>

            <div class="form-group col-md-6">
              <label class="form-control-label">Tipo</label>
              <p-dropdown autoWidth="false" [style]="{'width':'100%'}" [options]="listaTipo" [(ngModel)]="tipoFiltro">
              </p-dropdown>
            </div>

            <div class="form-group col-md-6">
              <label class="form-control-label">Estado</label>
              <p-dropdown autoWidth="false" [style]="{'width':'100%'}" [options]="listaEstados" [(ngModel)]="estadoFiltro">
              </p-dropdown>
            </div>

            <div class="form-group col-md-6">
              <label class="form-control-label">Criterio</label>
              <p-dropdown autoWidth="false" [style]="{'width':'100%'}" [options]="listaCriterio" [(ngModel)]="criterioFiltro">
              </p-dropdown>
            </div>

            <div class="form-group col-md-6">
              <label class="form-control-label">Fecha Flujo</label>
              <br>
              <p-calendar [(ngModel)]="fechaFiltro" [locale]="es" dateFormat="dd/mm/yy"></p-calendar>

            </div>


            <div class="form-group col-md-12  form-actions">

              <button type="button" (click)="buscarConFiltro()" class="btn btn-sm btn-primary float-right btn-primary-spacing">{{getMsg('basecrud.actions.button.search')}}</button>
              <button style="margin-right: 5px;" type="button" (click)="recargar()" class="btn btn-sm btn-danger float-right btn-primary-spacing">Eliminar Filtros</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--/.row-->
  <p-contextMenu #cm [model]="tableActions"></p-contextMenu>

  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <strong>{{getMsg('administration.role.search.table.title')}}</strong>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="form-group col-md-12">
              <p-table [contextMenu]="contextMenu" [value]="rows" selectionMode="single" [(selection)]="rowSelected" contextMenuSelectionMode="joint"
                dataKey="id">
                <ng-template pTemplate="header">
                  <tr>
                    <th style="width:5%; font-size: 11px">Id</th>
                    <th style="width:12%; font-size: 11px">Fecha</th>
                    <th style="width:8%; font-size: 11px">Tipo</th>
                    <th style="width:12%; font-size: 11px">Criterio</th>
                    <th style="width:8%; font-size: 11px">Estado</th>
                    <th style="width:10%; font-size: 11px">Valor</th>
                    <th style="width:15%; font-size: 11px">Descripcion</th>
                  </tr>
                </ng-template>

                <ng-template pTemplate="body" let-flujoExtraordinario>
                  <tr [pSelectableRow]="flujoExtraordinario" [pContextMenuRow]="flujoExtraordinario">
                    <td style="font-size: 11px">{{flujoExtraordinario.id}}</td>
                    <td style="font-size: 11px">{{flujoExtraordinario.fecha | date: 'dd/MM/yyyy-HH:mm:ss' }}</td>
                    <td style="font-size: 11px">{{flujoExtraordinario.tipo}}</td>
                    <td style="font-size: 11px">{{flujoExtraordinario.criterio}}</td>
                    <td style="font-size: 11px">{{flujoExtraordinario.estado}}</td>
                    <td style="font-size: 11px">{{flujoExtraordinario.valor| currency}}</td>
                    <td style="font-size: 10px">{{flujoExtraordinario.descripcion}}</td>
                  </tr>
                </ng-template>
              </p-table>
              <span [hidden]="!hasNext" class="fake-link link-next-rows" (click)="onLazyLoad(null)">{{getMsg('basecrud.table.link.next',maxRows)}}</span>
              <div style="visibility: hidden;">
                <p-dataScroller [value]="" [rows]="maxRows" [totalRecords]="totalRecords" [lazy]="true" (onLazyLoad)="onLazyLoad($event)">
                  <ng-template let-car pTemplate="item">

                  </ng-template>
                </p-dataScroller>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <p-contextMenu #contextMenu [model]="tableActions"></p-contextMenu>

    <p-confirmDialog key="cdListaFlujo" [header]="getMsg('basecrud.confirm.delete.title')" icon="fa fa-question-circle" width="425" #cdListaFlujo>
      <p-footer>
        <button type="button" pButton icon="fa-close" [label]="getMsg('confirm.button.no')" (click)="cdListaFlujo.reject()"></button>
        <button type="button" pButton icon="fa-check" [label]="getMsg('confirm.button.yes')" (click)="cdListaFlujo.accept()"></button>
      </p-footer>
    </p-confirmDialog>

    <!--/.col-->
  </div>
</div>