# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/dist-server
/tmp
/out-tsc
/build

# dependencies
/node_modules
package-lock.json

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# e2e
/e2e/*.js
/e2e/*.map

# System Files
.DS_Store
Thumbs.db
/fxmanager-management/.gradle
/fxmanager-management/.gradle/4.10.2/fileChanges/last-build.bin
/fxmanager-management/.gradle/4.10.2/fileContent/annotation-processors.bin
/fxmanager-management/.gradle/4.10.2/fileContent/fileContent.lock
/fxmanager-management/.gradle/4.10.2/fileHashes/fileHashes.bin
/fxmanager-management/.gradle/4.10.2/fileHashes/fileHashes.lock
/fxmanager-management/.gradle/4.10.2/fileHashes/resourceHashesCache.bin
/fxmanager-management/.gradle/4.10.2/gc.properties
/fxmanager-management/.gradle/4.10.2/javaCompile/classAnalysis.bin
/fxmanager-management/.gradle/4.10.2/javaCompile/jarAnalysis.bin
/fxmanager-management/.gradle/4.10.2/javaCompile/javaCompile.lock
/fxmanager-management/.gradle/4.10.2/javaCompile/taskHistory.bin
/fxmanager-management/.gradle/4.10.2/taskHistory/taskHistory.bin
/fxmanager-management/.gradle/4.10.2/taskHistory/taskHistory.lock
/fxmanager-management/.gradle/4.8.1/fileChanges/last-build.bin
/fxmanager-management/.gradle/4.8.1/fileContent/annotation-processors.bin
/fxmanager-management/.gradle/4.8.1/fileContent/fileContent.lock
/fxmanager-management/.gradle/4.8.1/fileHashes/fileHashes.bin
/fxmanager-management/.gradle/4.8.1/fileHashes/fileHashes.lock
/fxmanager-management/.gradle/4.8.1/fileHashes/resourceHashesCache.bin
/fxmanager-management/.gradle/4.8.1/taskHistory/taskHistory.bin
/fxmanager-management/.gradle/4.8.1/taskHistory/taskHistory.lock
/fxmanager-management/.gradle/buildOutputCleanup/buildOutputCleanup.lock
/fxmanager-management/.gradle/buildOutputCleanup/cache.properties
/fxmanager-management/.gradle/buildOutputCleanup/outputFiles.bin
/fxmanager-management/.gradle/vcs-1/gc.properties
/fxmanager-management/.gradle/vcsWorkingDirs/gc.properties
*.bin
*.lock
*.properties
