﻿<div class="animated fadeIn">
  <div class="row" >
      <div class="col-lg-12">
          <div class="card">
              <div class="card-header">
                  <strong>{{getMsg('administration.role.search.form.title')}}</strong>
              </div>
              <div class="card-body">
                  <div class="row">


                      <div class="form-group col-md-12">
                          <label class="form-control-label" for="inputnombre">{{getMsg('administration.role.form.input.name')}}</label>
                          <div class="controls">
                              <div class="input-prepend input-group">
                                  <input id="inputnombre" [(ngModel)]="bean.name" pInputText class="form-control" size="16" type="text">
                              </div>
                          </div>
                      </div>
                      
                      <div class="form-group col-md-12  form-actions">
                          <br/>
                          <button type="button" (click)="openNew()" class="btn btn-sm btn float-right btn-primary-spacing">{{getMsg('basecrud.actions.button.new')}}</button>
                          <button type="button" (click)="clean()" class="btn btn-sm btn-default float-right btn-primary-spacing">{{getMsg('baseform.actions.button.clean')}}</button>
                          <button type="button" (click)="search()" class="btn btn-sm btn-primary float-right btn-primary-spacing">{{getMsg('basecrud.actions.button.search')}}</button>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <!--/.row-->
    <p-contextMenu #cm [model]="tableActions"></p-contextMenu>

  <div class="row">
      <div class="col-lg-12">
          <div class="card">
              <div class="card-header">
                  <strong>{{getMsg('administration.role.search.table.title')}}</strong>
              </div>
              <div class="card-body">
                  <div class="row">
                      <div class="form-group col-md-12">
                          <p-table [contextMenu]="contextMenu" [value]="rows" selectionMode="single" [(selection)]="rowSelected" contextMenuSelectionMode="joint"  dataKey="name">
                            <ng-template pTemplate="header">
                              <tr>
                                  <th>{{getMsg('administration.role.search.column.name')}}</th>
                              </tr>
                          </ng-template>
                          <ng-template  pTemplate="body" let-role>
                              <tr [pSelectableRow]="role"  [pContextMenuRow]="role">
                                  <td>{{role.name}}</td>
                              </tr>
                          </ng-template>
                          </p-table >
                          <span [hidden]="!hasNext" class="fake-link link-next-rows" (click)="onLazyLoad(null)">{{getMsg('basecrud.table.link.next',maxRows)}}</span>
                          <div style="visibility: hidden;">
                              <p-dataScroller [value]="" [rows]="maxRows" [totalRecords]="totalRecords" [lazy]="true" (onLazyLoad)="onLazyLoad($event)">
                                <ng-template let-car pTemplate="item">
                                    
                                </ng-template>
                              </p-dataScroller>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <p-contextMenu #contextMenu [model]="tableActions"></p-contextMenu>

      <p-confirmDialog [header]="getMsg('basecrud.confirm.delete.title')" icon="fa fa-question-circle" width="425" #cd>
          <p-footer>
              <button type="button" pButton icon="fa-close" [label]="getMsg('confirm.button.no')" (click)="cd.reject()"></button>
              <button type="button" pButton icon="fa-check" [label]="getMsg('confirm.button.yes')" (click)="cd.accept()"></button>
          </p-footer>
      </p-confirmDialog>

      <!--/.col-->
  </div>
</div>