<div class="animated fadeIn">
  <!--/.row-->
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <strong>Lista de cierres consolidados</strong>

        </div>
        <div class="card-body">
          <div class="row">


            <div class="form-group col-md-3">
              <label class="form-control-label">Fecha</label>
              <br>
              <p-calendar [(ngModel)]="fechaFiltro" [locale]="calendarLanguage" dateFormat="dd/mm/yy"></p-calendar>

            </div>

            <div class="form-group col-md-12  form-actions">
              <button type="button" (click)="buscarConFiltroL()" class="btn btn-sm btn-primary float-right btn-primary-spacing">{{getMsg('basecrud.actions.button.search')}}</button>
            </div>
          </div>
        </div>
      </div>
      <!--/.col-->
    </div>
  </div>
</div>

<div class="animated fadeIn">
  <!--/.row-->
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <strong>Cierres</strong>
        </div>
        <div class="card-body" style="overflow: scroll;">
          <div class="row">
            <div class="form-group col-md-12">
              <div class="row" style="width: 3000px; padding: 20px;">
                <div *ngIf="cierre" class="col-md-12">
                  <div class="row" style="margin-bottom: 40px;">
                    <div class="col-md-12">
                      <h4>REPORTE CIERRE CONSOLIDADO</h4>
                      <h4>
                        <small>INTERAMERICAN MONEY</small>
                      </h4>
                      <p>
                        <strong>FECHA: {{cierre.fecha}}</strong>
                      </p>
                    </div>
                  </div>

                  <div class="row">

                    <div class="col-md-12 " style="    border-bottom: 1px solid;border-color: #f3f3f3;">
                      <div style="display: inline-block; width:160px;">
                        <span>
                          <strong>MONEDA</strong>
                        </span>
                      </div>

                      <div style="text-align: center; display: inline-block" *ngFor="let item of filaMonedas">
                        <div style="display: inline-block; width:150px;">
                          <div style="display: inline-block; width:150px;">
                            <span>{{item}}</span>
                          </div>
                        </div>
                      </div>
                    </div>
                    <br>
                    <br>
                    <div class="col-md-12 " style="    border-bottom: 1px solid;border-color: #f3f3f3;">
                      <div style="display: inline-block; width:160px;">
                        <span>
                          <strong> SALDO INICIAL</strong>
                        </span>
                      </div>
                      <div style="text-align: center; display: inline-block" *ngFor="let item of filaSaldosInicial">
                        <div style="display: inline-block; width:150px;">
                          <span>{{item | currency:' ':'code' }}</span>
                        </div>
                      </div>
                    </div>

                    <div class="col-md-12 " style="    border-bottom: 1px solid;border-color: #f3f3f3;">
                      <div style="display: inline-block; width:160px;">
                        <span>
                          <strong>
                            <small> COSTO PROMEDIO</small>
                          </strong>
                        </span>
                      </div>
                      <div style="text-align: center; display: inline-block" *ngFor="let item of filaCostoPromInicial">
                        <div style="display: inline-block; width:150px;">
                          <span>{{item | currency:' ':'code' }}</span>
                        </div>
                      </div>
                    </div>

                    <div class="col-md-12 " style="    border-bottom: 1px solid;border-color: #f3f3f3;">
                      <div style="display: inline-block; width:160px;">
                        <span>
                          <strong>
                            <small>VALOR GIRO</small>
                          </strong>
                        </span>
                      </div>
                      <div style="text-align: center; display: inline-block" *ngFor="let item of filaValorGiroInicial">
                        <div style="display: inline-block; width:150px;">
                          <span>{{item | currency:' ':'code' }}</span>
                        </div>
                      </div>
                    </div>

                    <br>
                    <br>

                    <div class="col-md-12 " style="    border-bottom: 1px solid;border-color: #f3f3f3;">
                      <div style="display: inline-block; width:160px;">
                        <span>
                          <strong> COMPRAS</strong>
                        </span>
                      </div>
                      <div style="text-align: center; display: inline-block" *ngFor="let item of filaCompras">
                        <div style="display: inline-block; width:150px;">
                          <span style="color:red">{{item | currency:' ':'code' }}</span>
                        </div>
                      </div>
                    </div>

                    <div class="col-md-12 " style="    border-bottom: 1px solid;border-color: #f3f3f3;">
                      <div style="display: inline-block; width:160px;">
                        <span>
                          <strong>
                            <small>PRECIO PROMEDIO</small>
                          </strong>
                        </span>
                      </div>
                      <div style="text-align: center; display: inline-block" *ngFor="let item of filaComprasPrecioProm">
                        <div style="display: inline-block; width:150px;">
                          <span style="color:red">{{item | currency:' ':'code' }}</span>
                        </div>
                      </div>
                    </div>

                    <div class="col-md-12 " style="    border-bottom: 1px solid;border-color: #f3f3f3;">
                      <div style="display: inline-block; width:160px;">
                        <span>
                          <strong>
                            <small>VALOR GIRO</small>
                          </strong>
                        </span>
                      </div>
                      <div style="text-align: center; display: inline-block" *ngFor="let item of filaComprasValorGiro">
                        <div style="display: inline-block; width:150px;">
                          <span style="color:red">{{item | currency:' ':'code' }}</span>
                        </div>
                      </div>
                    </div>

                    <br>
                    <br>

                    <div class="col-md-12 " style="    border-bottom: 1px solid;border-color: #f3f3f3;">
                      <div style="display: inline-block; width:160px;">
                        <span>
                          <strong>VENTAS</strong>
                        </span>
                      </div>
                      <div style="text-align: center; display: inline-block" *ngFor="let item of filaVentas">
                        <div style="display: inline-block; width:150px;">
                          <span style="color:forestgreen">{{item | currency:' ':'code' }}</span>
                        </div>
                      </div>
                    </div>

                    <div class="col-md-12 " style="    border-bottom: 1px solid;border-color: #f3f3f3;">
                      <div style="display: inline-block; width:160px;">
                        <span>
                          <strong>
                            <small> PRECIO PROMEDIO</small>
                          </strong>
                        </span>
                      </div>
                      <div style="text-align: center; display: inline-block" *ngFor="let item of filaPrecioPromVentas">
                        <div style="display: inline-block; width:150px;">
                          <span style="color:forestgreen">{{item | currency:' ':'code' }}</span>
                        </div>
                      </div>
                    </div>

                    <div class="col-md-12 " style="    border-bottom: 1px solid;border-color: #f3f3f3;">
                      <div style="display: inline-block; width:160px;">
                        <span>
                          <strong>
                            <small>VALOR GIRO</small>
                          </strong>
                        </span>
                      </div>
                      <div style="text-align: center; display: inline-block" *ngFor="let item of filaVentasValorGiro">
                        <div style="display: inline-block; width:150px;">
                          <span style="color:forestgreen">{{item | currency:' ':'code' }}</span>
                        </div>
                      </div>
                    </div>

                    <br>
                    <br>

                    <div class="col-md-12 " style="    border-bottom: 1px solid;border-color: #f3f3f3;">
                      <div style="display: inline-block; width:160px;">
                        <span>
                          <strong>SALDO PRECIERRE</strong>
                        </span>
                      </div>
                      <div style="text-align: center; display: inline-block" *ngFor="let item of filaSaldosPrecierre">
                        <div style="display: inline-block; width:150px;">
                          <span style="color:forestgreen">{{item | currency:' ':'code' }}</span>
                        </div>
                      </div>
                    </div>

                    <div class="col-md-12 " style="    border-bottom: 1px solid;border-color: #f3f3f3;">
                      <div style="display: inline-block; width:160px;">
                        <span>
                          <strong>
                            <small>PRECIO PROMEDIO</small>
                          </strong>
                        </span>
                      </div>
                      <div style="text-align: center; display: inline-block" *ngFor="let item of filaCostoPromFinal">
                        <div style="display: inline-block; width:150px;">
                          <span style="color:forestgreen">{{item | currency:' ':'code' }}</span>
                        </div>
                      </div>
                    </div>

                    <div class="col-md-12 " style="    border-bottom: 1px solid;border-color: #f3f3f3;">
                      <div style="display: inline-block; width:160px;">
                        <span>
                          <strong>
                            <small>VALOR GIRO</small>
                          </strong>
                        </span>
                      </div>
                      <div style="text-align: center; display: inline-block" *ngFor="let item of filaValorGiroPrecierre">
                        <div style="display: inline-block; width:150px;">
                          <span style="color:forestgreen">{{item | currency:' ':'code' }}</span>
                        </div>
                      </div>
                    </div>

                    <br>
                    <br>

                    <div class="col-md-12 " style="    border-bottom: 1px solid;border-color: #f3f3f3;">
                      <div style="display: inline-block; width:160px;">
                        <span>
                          <strong>INGRESOS</strong>
                        </span>
                      </div>
                      <div style="text-align: center; display: inline-block" *ngFor="let item of filaIngresos">
                        <div style="display: inline-block; width:150px;">
                          <span style="color:forestgreen">{{item | currency:' ':'code' }}</span>
                        </div>
                      </div>
                    </div>

                    <div class="col-md-12 " style="    border-bottom: 1px solid;border-color: #f3f3f3;">
                      <div style="display: inline-block; width:160px;">
                        <span>
                          <strong>EGRESOS</strong>
                        </span>
                      </div>
                      <div style="text-align: center; display: inline-block" *ngFor="let item of filaEgresos">
                        <div style="display: inline-block; width:150px;">
                          <span style="color:red">{{item | currency:' ':'code' }}</span>
                        </div>
                      </div>
                    </div>

                    <br>
                    <br>

                    <div class="col-md-12 " style="    border-bottom: 1px solid;border-color: #f3f3f3;">
                      <div style="display: inline-block; width:160px;">
                        <span>
                          <strong>SALDOS FINAL</strong>
                        </span>
                      </div>
                      <div style="text-align: center; display: inline-block" *ngFor="let item of filaSaldosFinal">
                        <div style="display: inline-block; width:150px;">
                          <span style="color:forestgreen">{{item | currency:' ':'code' }}</span>
                        </div>
                      </div>
                    </div>

                    <div class="col-md-12 " style="    border-bottom: 1px solid;border-color: #f3f3f3;">
                      <div style="display: inline-block; width:160px;">
                        <span>
                          <strong>
                            <small>PRECIO PROMEDIO</small>
                          </strong>
                        </span>
                      </div>
                      <div style="text-align: center; display: inline-block" *ngFor="let item of filaCostoPromFinal">
                        <div style="display: inline-block; width:150px;">
                          <span style="color:forestgreen">{{item | currency:' ':'code' }}</span>
                        </div>
                      </div>
                    </div>

                    <div class="col-md-12 " style="    border-bottom: 1px solid;border-color: #f3f3f3;">
                      <div style="display: inline-block; width:160px;">
                        <span>
                          <strong>
                            <small>VALOR GIRO</small>
                          </strong>
                        </span>
                      </div>
                      <div style="text-align: center; display: inline-block" *ngFor="let item of filaValorGiroFinal">
                        <div style="display: inline-block; width:150px;">
                          <span style="color:forestgreen">{{item | currency:' ':'code' }}</span>
                        </div>
                      </div>
                    </div>

                    <br>
                    <br>


                    <div class="col-md-12 " style="    border-bottom: 1px solid;border-color: #f3f3f3;">
                      <div style="display: inline-block; width:160px;">
                        <span>
                          <strong style="font-size: 10px">PRECIO VALORACIÓN ANTERIOR</strong>
                        </span>
                      </div>
                      <div style="text-align: center; display: inline-block" *ngFor="let item of filaPrecioValoracionAnterior">
                        <div style="display: inline-block; width:150px;">
                          <span style="">{{item | currency:' ':'code' }}</span>
                        </div>
                      </div>
                    </div>


                    <div class="col-md-12 " style="    border-bottom: 1px solid;border-color: #f3f3f3;">
                      <div style="display: inline-block; width:160px;">
                        <span>
                          <strong style="font-size: 10px">PRECIO VALORACIÓN ACTUAL</strong>
                        </span>
                      </div>
                      <div style="text-align: center; display: inline-block" *ngFor="let item of filaPrecioValActual">
                        <div style="display: inline-block; width:150px;">
                          <span style="">{{item | currency:' ':'code' }}</span>
                        </div>
                      </div>
                    </div>

                    <br>
                    <br>

                    <div class="col-md-12 " style="    border-bottom: 1px solid;border-color: #f3f3f3;">
                      <div style="display: inline-block; width:160px;">
                        <span>
                          <strong style="font-size: 10px">VAL. PRECIERRE ANTERIOR</strong>
                        </span>
                      </div>
                      <div style="text-align: center; display: inline-block" *ngFor="let item of filaValPrecierreAnterior">
                        <div style="display: inline-block; width:150px;">
                          <span style="">{{item | currency:' ':'code' }}</span>
                        </div>
                      </div>
                    </div>

                    <div class="col-md-12 " style="    border-bottom: 1px solid;border-color: #f3f3f3;">
                      <div style="display: inline-block; width:160px;">
                        <span>
                          <strong style="font-size: 10px">VAL. PRECIERRE ACTUAL</strong>
                        </span>
                      </div>
                      <div style="text-align: center; display: inline-block" *ngFor="let item of filaValPrecierreActual">
                        <div style="display: inline-block; width:150px;">
                          <span style="">{{item | currency:' ':'code' }}</span>
                        </div>
                      </div>
                    </div>


                    <div class="col-md-12 " style="    border-bottom: 1px solid;border-color: #f3f3f3;">
                      <div style="display: inline-block; width:160px;">
                        <span>
                          <strong style="font-size: 10px">VAL. CIERRE ACTUAL</strong>
                        </span>
                      </div>
                      <div style="text-align: center; display: inline-block" *ngFor="let item of filaValCierreActual">
                        <div style="display: inline-block; width:150px;">
                          <span style="">{{item | currency:' ':'code' }}</span>
                        </div>
                      </div>
                    </div>

                    <br>
                    <br>

                    <div class="col-md-12 " style="    border-bottom: 1px solid;border-color: #f3f3f3;">
                      <div style="display: inline-block; width:160px;">
                        <span>
                          <strong style="font-size: 10px">PYG CAJA DIARIA</strong>
                        </span>
                      </div>
                      <div style="text-align: center; display: inline-block" *ngFor="let item of filaPYGCajaDiaria">
                        <div style="display: inline-block; width:150px;">
                          <span>{{item | currency:' ':'code' }}</span>
                        </div>
                      </div>
                    </div>

                    <br>
                    <br>

                    <div class="col-md-12 " style="    border-bottom: 1px solid;border-color: #f3f3f3;">
                      <div style="display: inline-block; width:160px;">
                        <span>
                          <strong style="font-size: 10px">PYG VAL PRECIERRE DIARIA</strong>
                        </span>
                      </div>
                      <div style="text-align: center; display: inline-block" *ngFor="let item of filaPygValPrecierreDiario">
                        <div style="display: inline-block; width:150px;">
                          <span>{{item | currency:' ':'code' }}</span>
                        </div>
                      </div>
                    </div>

                    <div class="col-md-12 " style="    border-bottom: 1px solid;border-color: #f3f3f3;">
                      <div style="display: inline-block; width:160px;">
                        <span>
                          <strong style="font-size: 10px">PYG VAL PRECIERRE MENSUAL</strong>
                        </span>
                      </div>
                      <div style="text-align: center; display: inline-block" *ngFor="let item of filaPygValPrecierreMensual">
                        <div style="display: inline-block; width:150px;">
                          <span>{{item | currency:' ':'code' }}</span>
                        </div>
                      </div>
                    </div>

                    <div class="col-md-12 " style="    border-bottom: 1px solid;border-color: #f3f3f3;">
                      <div style="display: inline-block; width:160px;">
                        <span>
                          <strong style="font-size: 10px">PYG VAL PRECIERRE ACUMULADO</strong>
                        </span>
                      </div>
                      <div style="text-align: center; display: inline-block" *ngFor="let item of filaPygValPrecierreAcumulada">
                        <div style="display: inline-block; width:150px;">
                          <span>{{item | currency:' ':'code' }}</span>
                        </div>
                      </div>
                    </div>


                    <br>
                    <br>

                    <div class="col-md-12 " style="    border-bottom: 1px solid;border-color: #f3f3f3;">
                      <div style="display: inline-block; width:160px;">
                        <span>
                          <strong style="font-size: 10px">PYG VAL CIERRE DIARIA</strong>
                        </span>
                      </div>
                      <div style="text-align: center; display: inline-block" *ngFor="let item of filaPygValCierreDiario">
                        <div style="display: inline-block; width:150px;">
                          <span>{{item | currency:' ':'code' }}</span>
                        </div>
                      </div>
                    </div>


                    <div class="col-md-12 " style="    border-bottom: 1px solid;border-color: #f3f3f3;">
                      <div style="display: inline-block; width:160px;">
                        <span>
                          <strong style="font-size: 10px">PYG VAL CIERRE MENSUAL</strong>
                        </span>
                      </div>
                      <div style="text-align: center; display: inline-block" *ngFor="let item of filaPygValCierreMensual">
                        <div style="display: inline-block; width:150px;">
                          <span>{{item | currency:' ':'code' }}</span>
                        </div>
                      </div>
                    </div>

                    <div class="col-md-12 " style="    border-bottom: 1px solid;border-color: #f3f3f3;">
                      <div style="display: inline-block; width:160px;">
                        <span>
                          <strong style="font-size: 10px">PYG VAL CIERRE ACUMULADO</strong>
                        </span>
                      </div>
                      <div style="text-align: center; display: inline-block" *ngFor="let item of filaPygValCierreAcumulada">
                        <div style="display: inline-block; width:150px;">
                          <span>{{item | currency:' ':'code' }}</span>
                        </div>
                      </div>
                    </div>



                    <br>
                    <br>

                    <div class="col-md-12 " style="    border-bottom: 1px solid;border-color: #f3f3f3;">
                      <div style="display: inline-block; width:160px;">
                        <span>
                          <strong style="font-size: 10px">PYG CAJA</strong>
                        </span>
                      </div>
                      <div style="text-align: center; display: inline-block" *ngFor="let item of filaPYGCajaDiaria">
                        <div style="display: inline-block; width:150px;">
                          <span>{{item | currency:' ':'code' }}</span>
                        </div>
                      </div>
                    </div>

                    <div class="col-md-12 " style="    border-bottom: 1px solid;border-color: #f3f3f3;">
                      <div style="display: inline-block; width:160px;">
                        <span>
                          <strong style="font-size: 10px">PYG VAL PRECIERRE</strong>
                        </span>
                      </div>
                      <div style="text-align: center; display: inline-block" *ngFor="let item of filaPygValPrecierreDiario">
                        <div style="display: inline-block; width:150px;">
                          <span>{{item | currency:' ':'code' }}</span>
                        </div>
                      </div>
                    </div>



                    <div class="col-md-12 " style="    border-bottom: 1px solid;border-color: #f3f3f3;">
                      <div style="display: inline-block; width:160px;">
                        <span>
                          <strong style="font-size: 10px">PYG BRUTO</strong>
                        </span>
                      </div>
                      <div style="text-align: center; display: inline-block" *ngFor="let item of filaPygBruto">
                        <div style="display: inline-block; width:150px;">
                          <span>{{item | currency:' ':'code' }}</span>
                        </div>
                      </div>
                    </div>




                  </div>
                  <br>


                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--/.col-->
    </div>
  </div>
</div>